header {
    position: fixed;
    height: 80px;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
header img {
    width: 75px;
    height: 53px;
    padding: 16px 0 11px 22px;
}
header ion-icon {
    font-size: 42px;    
    color: black;
    padding: 19px 18px 24px 0;
    cursor: pointer;
}
.content {
    background-color: #E5E5E5;
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 80px;
    overflow-x: auto;
    padding-top: 24px;
}
.msgs {
    display: flex;
    font-family: Roboto;
    font-size: 14px;
    background-color: #ffffff;
    font-weight: 400;
    border-radius: 2px;
    flex-wrap: wrap;
    align-items: center;
    line-height: 143%;
    padding: 10px 9px;
    margin: 3px auto;
}
.status {
    display: flex;
    font-family: Roboto;
    font-size: 14px;
    background-color: #DCDCDC;
    font-weight: 400;
    border-radius: 2px;
    flex-wrap: wrap;
    align-items: center;
    line-height: 143%;
    padding: 10px 9px;
    margin: 3px auto;
}
.timeStamp {
    color: #aaaaaa;
    margin-right: 3px;
}
.from, .to {
    font-weight: 700;
    margin: auto 3px;
}
.private {
    background-color: #FFDEDE;
}
.bottom {
    position: fixed;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
    background-color: #ffffff;
}
.bottom ion-icon {
    font-size: 26px;
    padding: 27px 18px 27px 18px;
    cursor: pointer;
}
textarea {
    font-family: roboto;
    font-weight: 400;
    width: calc(100vw - 62px);
    font-size: 18px;
    padding: 25px 14px;
    resize: none;
    outline: none;
    overflow-y: hidden;
}
.telaLogin {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
}
.telaLogin img {
    width: 130px;
    height: 92px;
    margin-bottom: 50px;
}
input {
    width: 60vw;
    margin: 10px auto;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    line-height: 25px;
    text-align: center;
}
input:focus::placeholder {
    color: transparent;
}
button {
    background-color: #E7E7E7;
    border: none;
    border-radius: 9px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
    width: 110px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    margin: 10px auto;
}
.listaUsuarios {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
}
.menuLateral {
    background-color: #ffffff;
    height: 100vh;
    width: 70vw;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 1s linear;
}
.menuLateral h1 {
    font-family: Roboto;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 84px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 40px 40px;
}
.todos, .usuariosOnline {
    display: flex;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    height: 36px;
    margin: 2px 0 2px 18px;
    cursor: pointer;
}
.usuariosOnline {
    flex-direction: column;
    overflow-y: scroll;
    flex-shrink: 1;
    height: max-content;
    max-height: calc(100vh - 300px);
}
.usuariosOnline li {
    display: flex;
    height: 36px;
    cursor: pointer;
}
.escondido {
    display: none;
    transition: all 1s linear;
}